{% extends 'FacebookTokenBundle::base.html.twig' %}

{% block body %}
        <div class="starter-template">


            {% if app.user.facebookAccessToken is defined %}
                <div>
                    <p>Authenticated with <i class="fa fa-facebook-official fa-2x"></i> as <b>{{ app.user.firstName }} {{ app.user.lastName }}</b> <img src="{{ app.user.picture }}" /></p>
                </div><br>
            <div class="alert alert-success" role="alert">
                    <p>Your access token is :</p>
                <pre class="pre-scrollable"><code>{{ (app.user.facebookAccessToken) }}</code></pre>
            </div>
            {% else %}
            <h1>BileMo Access Token App</h1>
            <div>
                <p class="lead">Please, click on <a href="{{ hwi_oauth_login_url('facebook') }}"><b>Get my API access token</b></a>, to get a token for all your requests on the BileMo API</p>
                <p><i>You need a Facebook account to get your api token</i></p>
            {% endif %}
            </div>
        </div>
{% endblock %}
